@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Inter', sans-serif;
  --spacing-titlebar-height: 32px;

  --spacing-dock-inset: calc(var(--spacing) * 4);
  --spacing-dock-gap-for-content: calc(50px + var(--spacing-dock-inset) * 2);

  --animate-fade-in: fade-in 1s var(--ease-in-out) both;

  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

:root {
  --color-brown-50: #FEFCF9;
  --color-brown-100: #FCF8F0;
  --color-brown-200: #F9EFDB;
  --color-brown-300: #F2E3C6;
  --color-brown-400: #E9D3AE;
  --color-brown-500: #D9BB8D;
  --color-brown-600: #C39D6D;
  --color-brown-700: #A47D50;
  --color-brown-800: #7C5C37;
  --color-brown-900: #4F3821;
  --color-brown-950: #2A1D11;

  --color-coffee-50:  #FFEDEC;
  --color-coffee-100: #FFDADA;
  --color-coffee-200: #E9BCBC;
  --color-coffee-300: #CCA1A1;
  --color-coffee-400: #AF8787;
  --color-coffee-500: #936D6E;
  --color-coffee-600: #795556;
  --color-coffee-700: #5F3E3F;
  --color-coffee-800: #452829;
  --color-coffee-900: #2D1415;
  --color-coffee-950: #000000;
  --color-coffee-neutral-50:  #F6EFEE;
  --color-coffee-neutral-100: #E8E1E0;
  --color-coffee-neutral-200: #CBC5C4;
  --color-coffee-neutral-300: #B0AAA9;
  --color-coffee-neutral-400: #958F8F;
  --color-coffee-neutral-500: #7B7676;
  --color-coffee-neutral-600: #615D5D;
  --color-coffee-neutral-700: #494646;
  --color-coffee-neutral-800: #33302F;
  --color-coffee-neutral-900: #1D1B1B;
  --color-coffee-neutral-950: #000000;

  --dock-height-padding: calc(50px + 16px * 2);
}

.dark {
  --color-brown-50: #FDFBF7;
  --color-brown-100: #FBF6EE;
  --color-brown-200: #F9EFDB;
  --color-brown-300: #EEDFC4;
  --color-brown-400: #E0CEAA;
  --color-brown-500: #CDB890;
  --color-brown-600: #AE9971;
  --color-brown-700: #8C7651;
  --color-brown-800: #615239;
  --color-brown-900: #3D3322;
  --color-brown-950: #1F1A11;
}

.scrollbar-gutter {
  scrollbar-gutter: stable;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
