@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Inter', sans-serif;
}

:root {
  --color-light-brown-50: #FEFCF9;
  --color-light-brown-100: #FCF8F0;
  --color-light-brown-200: #F9EFDB;
  --color-light-brown-300: #F2E3C6;
  --color-light-brown-400: #E9D3AE;
  --color-light-brown-500: #D9BB8D;
  --color-light-brown-600: #C39D6D;
  --color-light-brown-700: #A47D50;
  --color-light-brown-800: #7C5C37;
  --color-light-brown-900: #4F3821;
  --color-light-brown-950: #2A1D11;

  --video-max-height: calc(100vh - var(--spacing) * 88);
}

.dark {
  --color-light-brown-50: #FDFBF7;
  --color-light-brown-100: #FBF6EE;
  --color-light-brown-200: #F9EFDB;
  --color-light-brown-300: #EEDFC4;
  --color-light-brown-400: #E0CEAA;
  --color-light-brown-500: #CDB890;
  --color-light-brown-600: #AE9971;
  --color-light-brown-700: #8C7651;
  --color-light-brown-800: #615239;
  --color-light-brown-900: #3D3322;
  --color-light-brown-950: #1F1A11;
}

.scrollbar-gutter {
  scrollbar-gutter: stable;
}

.max-w-video {
  max-width: max(var(--container-2xl), calc(var(--video-max-height) * 16 / 9));
}
