@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Inter', sans-serif;
}

:root {
  --ui-color-primary-50: #FEFCF9;
  --ui-color-primary-100: #FCF8F0;
  --ui-color-primary-200: #F9EFDB;
  --ui-color-primary-300: #F2E3C6;
  --ui-color-primary-400: #E9D3AE;
  --ui-color-primary-500: #D9BB8D;
  --ui-color-primary-600: #C39D6D;
  --ui-color-primary-700: #A47D50;
  --ui-color-primary-800: #7C5C37;
  --ui-color-primary-900: #4F3821;
  --ui-color-primary-950: #2A1D11;
}

.dark {
  --ui-color-primary-50: #FDFBF7;
  --ui-color-primary-100: #FBF6EE;
  --ui-color-primary-200: #F9EFDB;
  --ui-color-primary-300: #EEDFC4;
  --ui-color-primary-400: #E0CEAA;
  --ui-color-primary-500: #CDB890;
  --ui-color-primary-600: #AE9971;
  --ui-color-primary-700: #8C7651;
  --ui-color-primary-800: #615239;
  --ui-color-primary-900: #3D3322;
  --ui-color-primary-950: #1F1A11;
}

.scrollbar-gutter {
  scrollbar-gutter: stable;
}
